.advantages {
  position: relative;
  background-color: $dark-grey-color;
  padding-top: 60px;
  padding-bottom: 176px;
  
  &::before {
    position: absolute;
    background-image: url('../../../../public/assets/svg/overlap.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 15%;
    bottom: 0;
    content: '';
  }

  &__title {
    margin-bottom: 60px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      &--text {
        position: relative;
        &::before {
          position: absolute;
          left: -30px;
          width: 4px;
          height: 100%;
          background-color: $orange-color;
          content: '';
        }
      }
      padding-left: 30px;
      width: 460px;
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      &:last-child {
        width: 696px;
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 90px;
    
    &::before {
      position: absolute;
      background-image: url('../../../../public/assets/svg/overlap.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }
    &__container {
      padding: 0 10px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__cards {
      display: block;
     
      &__item {
        &--text {
          position: relative;
          &::before {
            left: -10px;
            width: 2px;
            content: '';
          }
        }
        padding-left: 10px;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }
  
}


@media screen and (max-width: 1520px) {
  .advantages {
    padding-top: 0;
    padding-bottom: 153px;
    
    &::before {
      position: absolute;
      background-image: url('../../../../public/assets/svg/overlap.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }
  
    &__title {
      margin-bottom: 40px;
    }
    &__cards {
      &__item {
        &--text {
          position: relative;
          &::before {
            left: -29px;
            content: '';
          }
        }
        padding-left: 29px;
        width: 383px;
        &:not(:last-child) {
          margin-bottom: 53px;
        }
        &:last-child {
          width: 413px;
        }
      }
    }
  }
}