.consultBottom {
  padding: 107px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 64px 50px 66px;
    background-image: url('../../../../public/assets/images/consult-bg.png');
    background-color: $black-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &--bg {
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 50%;
      background: rgba(255, 169, 81, 0.6);
      filter: blur(150px);
      backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
    }
  }
  &__text {
    width: 840px;
  }
  &__title {
    text-align: start;
    margin-bottom: 16px;
  }
  &__description {
    width: 369px;
    margin-left: 50%;
  }
  &__image--desc {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 305px;
    width: 610px;
  }
  &__image--tab {
    display: none;
  }
  &__image--mob {
    display: none;
  }
  &__form {
    display: flex;
    flex-direction: column;
    min-width: 477px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    &__input-wrapper {
      margin-bottom: 30px;
    }
    &__thumb {
      position: relative;
      display: block;
      color: black;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &-input {
      width: 100%;
      height: 70px;
      border: 1px solid $white-color;
      background-color: inherit;
      padding: 17px 23px;
      outline: none;
      color: $white-color;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 25px;
      line-height: 29px;
      cursor: pointer;
      &::placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: $white-color;
      }
      &:focus {
        cursor: auto;
      }
      &--error {
        border: 1px solid red;
      }
    }
    &-checkbox-wrappers {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    &-label {
      position: relative;
      display: flex;
      align-items: center;
      color: $white-color;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 25px;
      line-height: 29px;
      cursor: pointer;
      & span {
        display: block;
      }
      &::before {
        display: inline-block;
        min-width: 25px;
        height: 25px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $white-color;
        content: '';
      }
    }
    &-checkbox {
      display: none;
      &:checked + .consultBottom__form-label::before {
        background-color: #E02C22;

        // background-image: url('../../public/assets/svg/order-checked.svg');
      }
    }
    &-btn {
      display: block;
      padding: 12px 20px;
      width: 295px;
      height: 75px;
      color: $white-color;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;
      text-transform: uppercase;
      background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
      box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__modal {
    width: 800px;
    height: 620px;
    background-color: $white-color;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 70px 55px 80px;

    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 97.58px;
      height: 97.58px;
      border: 5px solid #FA9F42;
      margin: 0 auto 50px;
    }
    &__title {
      font-family: 'RoadRadio';
      font-weight: 400;
      font-size: 95.625px;
      line-height: 96px;
      text-align: center;
      text-transform: uppercase;
      color: $black-color;
      margin-bottom: 30px;
    }
    &__pre-title {
      font-family: 'RoadRadio';
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      color: $black-color;
      margin-bottom: 70px;
    }
    &__text {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 35px;
      line-height: 52px;
      text-align: center;
      color: $black-color;
    }
  }
}


@media screen and (max-width: 1600px) {
  .consultBottom {
    padding: 60px 0 120px;
    &__container {
      padding: 50px 50px 70px;
    }
    &__text {
      width: 651px;
    }
    &__title {
      text-align: start;
      margin-bottom: 30px;
    }
    &__description {
      width: 287px;
      margin-left: 59%;
    }
    &__image--desc {
      height: 300px;
      width: 443px;
    }
    &__image--mob {
      display: none;
    }
  
    &__form {
      min-width: 399px;

      &-input {
        padding: 23px;
        font-size: 20px;
        line-height: 23px;
        cursor: pointer;
        &::placeholder {
          font-size: 20px;
          line-height: 23px;
        }
      }
      &-checkbox-wrappers {
        margin-bottom: 65px;
      }
  
      &-label {
        font-size: 20px;
        line-height: 23px;
        cursor: pointer;
        &::before {
          min-width: 20px;
          height: 20px;
          margin-right: 13px;
          content: '';
        }
      }

      &-btn {
        padding: 24px;
        width: 275px;
        height: 71px;
        font-size: 20px;
        line-height: 23px;
      }
    }
    &__modal {
      height: 584px;
      padding: 70px 55px;
  
      &__title {
        font-weight: 400;
        font-size: 85px;
        line-height: 86px;
        margin-bottom: 16px;
      }
      &__pre-title {
        font-weight: 400;
        font-size: 35px;
        line-height: 35px;
      }
      &__text {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .consultBottom {
    padding: 40px 0 80px;
    &__container {
      display: block;
      padding: 40px 50px;
      
      &--bg {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 50%;
        background: rgba(255, 169, 81, 0.6);
        filter: blur(150px);
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
      }
    }
    &__text {
      width: 100%;
      margin-bottom: 40px;
    }
    &__title {
      text-align: start;
      margin-bottom: 15px;
    }
    &__description {
      width: 100%;
      margin-left: auto;
    }
    &__image--desc {
      display: none;
    }
    &__image--tab {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 291px;
      width: 342px;
    }
    
    &__image--mob {
      display: none;
    }
  
    &__form {
      width: 353px;
      min-width: 353px;
      margin-left: auto;
      &__input-wrapper {
        margin-bottom: 20px;
      }
      &__thumb {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &-input {
        width: 100%;
        height: 60px;
        padding: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        &::placeholder {
          font-weight: 400;
          font-size: 17px;
          line-height: 20px;
        }
      }
      &-checkbox-wrappers {
        margin-bottom: 30px;
      }
  
      &-label {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        &::before {
          min-width: 17px;
          height: 17px;
          margin-right: 10px;
          content: '';
        }
      }
      &-btn {
        padding: 24px;
        width: 275px;
        height: 71px;
        font-size: 20px;
        line-height: 23px;
      }
    }
    &__modal {
      width: 668px;
      height: 499px;
      padding: 60px;
  
      &__svg {
        margin: 0 auto 40px;
      }
      &__title {
        font-weight: 400;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 22px;
      }
      &__pre-title {
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 60px;
      }
      &__text {
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
}

@media screen and(max-width: 800px) {
  .consultBottom {
      padding: 0 0 0 0;
      position: relative;
      &::before {
        position: absolute;
        background-image: url('../../../../public/assets/svg/overlap-black-mob.svg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        width: 100%;
        height: 10%;
        bottom: 0;
        content: '';
      }

      &__container {
        display: block;
        padding: 30px;
        background-image: url('../../../../public/assets/images/consult-bg-mob.png');
        &--bg {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 65%;
        }
      }
      &__text {
        width: 100%;
      }
      &__title {
        text-align: center;
        margin-bottom: 20px;
      }
      &__description {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 30px;
      }
      &__image--desc {
        display: none;
      }
      &__image--tab {
        display: none;
      }
      &__image--mob {
        position: relative;
        display: block;
        height: 180px;
        width: calc(100% + 60px);
        margin: -30px;
      }
  
      &__form {
        min-width: 100%;
        width: 100%;
        margin-bottom: 56px;
        &__input-wrapper {
          margin-bottom: 17px;
        }
        &__thumb {
          position: relative;
          display: block;
          color: black;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        &-input {
          width: 100%;
          height: 44px;
          padding: 14px 23px;
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          cursor: pointer;
          &::placeholder {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
          }
        }
        &-checkbox-wrappers {
          margin-bottom: 30px;
        }
        &-label {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          cursor: pointer;
          &::before {
            min-width: 15px;
            height: 15px;
            margin-right: 10px;
            content: '';
          }
        }
        &-btn {
          padding: 12px 20px;
          width: 137px;
          height: 40px;
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          z-index: 10;
        }
      }
      &__modal {
        width: 100%;
        height: 247px;
        padding: 40px 23px 44px;
  
        &__svg {
          width: 25px;
          height: 25px;
          border: 1.29032px solid #FA9F42;
          margin: 0 auto 13px;
        }
        &__title {
          font-weight: 400;
          font-size: 29.7542px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        &__pre-title {
          font-weight: 400;
          font-size: 12.4462px;
          line-height: 13px;
          margin-bottom: 40px;
        }
        &__text {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
}