.workProcess {
  position: relative;
  padding-top: 60px;
  padding-bottom: 70px;

  &::after {
    position: absolute;
    top: 22%;
    right: 0;
    background-image: url('../../../../public/assets/images/work-process.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 35%;
    z-index: -1;
    height: 918px;
    background-color: #202020;
    content: '';
  }

  &__title {
    color: $black-color;
    margin-bottom: 50px;
  }

  &__cards {

    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      left: -100%;
      background-color: $orange-color;
      content: '';
    }

    position: relative;
    width: 75%;
    display: grid;
    grid-template-columns: 377px 427px;
    grid-row-gap: 158px;
    grid-column-gap: 126px;
    padding: 71px 0 60px;
    background-color: $orange-color;
    &__item {
      position: relative;
      &:nth-child(1) {
        &::after {
          position: absolute;
          right: -90px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(2) {
        &::after {
          position: absolute;
          right: -49%;
          top: 81px;
          border: 1px solid $white-color;
          width: 99px;
          content: '';
        }
        
      }
      &:nth-child(3) {
        &::after {
          position: absolute;
          right: -90px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }
        &::before {
          position: absolute;
          left: -65px;
          transform: translate(-100%, 0);
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 130px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(4) {
        &::after {
          position: absolute;
          right: -49%;
          top: 60px;
          border: 1px solid $white-color;
          width: 284px;
          content: '';
        }
      }
      &:nth-child(5) {
        margin-bottom: 0;
        &::after {
          position: absolute;
          right: -90px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }

        &::before {
          position: absolute;
          left: -65px;
          transform: translate(-100%, 0);
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 130px;
          height: 12px;
          content: '';
        }
      }
      &--num {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &--title {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      &--text {
        position: relative;
      }
    }
  }
}



@media screen and (max-width: 1600px) {
  .workProcess {
    padding-bottom: 74px;

    &::after {
      position: absolute;
      top: 22%;
      right: 0;
      background-image: url('../../../../public/assets/images/work-process.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 35%;
      z-index: -1;
      height: 808px;
      content: '';
    }

    &__title {
      margin-bottom: 60px;
    }

    &__cards {

    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      left: -100%;
      background-color: $orange-color;
      content: '';
    }

    position: relative;
    width: 75%;
    display: grid;
    grid-template-columns: 311px 404px;
    grid-row-gap: 115px;
    grid-column-gap: 90px;
    padding: 60px 0 60px;
    background-color: $orange-color;
    &__item {
      position: relative;
      &:nth-child(1) {
        &::after {
          position: absolute;
          right: -72px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(2) {
        &::after {
          position: absolute;
          right: -23%;
          top: 60px;
          border: 1px solid $white-color;
          width: 55px;
          content: '';
        }
        
      }
      &:nth-child(3) {
        &::after {
          position: absolute;
          right: -72px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }
        &::before {
          position: absolute;
          left: -65px;
          transform: translate(-100%, 0);
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 130px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(4) {
        &::after {
          position: absolute;
          right: -23%;
          top: 60px;
          border: 1px solid $white-color;
          width: 55px;
          content: '';
        }
      }
      &:nth-child(5) {
        margin-bottom: 0;
        &::after {
          position: absolute;
          right: -72px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }

        &::before {
          position: absolute;
          left: -65px;
          transform: translate(-100%, 0);
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 130px;
          height: 12px;
          content: '';
        }
      }
        &--title {
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 20px;
        }
      }
    }
  }  
}

@media screen and (max-width: 1270px) {
  .workProcess {
    padding-top: 40px;
    padding-bottom: 405px;
    overflow: hidden;
    &::after {
      position: absolute;
      top: auto;
      right: 50%;
      bottom: 40px;
      transform:  translate(50%, 0);
      background-image: url('../../../../public/assets/images/work-process.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 664px;
      z-index: -1;
      width: 664px;
      height: 365px;
      content: '';
    }
  
    &__title {
      color: $black-color;
      margin-bottom: 50px;
    }
  
    &__cards {
  
      &::before {
        position: absolute;
        height: 100%;
        width: 100%;
        left: -99%;
        background-color: $orange-color;
        content: '';
      }
      &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        right: -50%;
        background-color: $orange-color;
        z-index: -5;
        content: '';
      }
  
      position: relative;
      width: 100%;
      display: grid;
      justify-content: center;
      grid-template-columns: 244px 260px;
      grid-row-gap: 30px;
      grid-column-gap: 115px;
      padding: 30px 0;
      &__item {
        &:nth-child(1) {
          &::after {
            position: absolute;
            right: -90px;
            top: 60px;
            background-image: url('../../../../public/assets/svg/arrow-work.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 80px;
            height: 12px;
            content: '';
          }
        }
        &:nth-child(2) {
          &::after {
            position: absolute;
            left: 20%;
            transform: translate(100%, 0);
            top: 60px;
            border: 1px solid $white-color;
            width: 100%;
            content: '';
          }
          
        }
        &:nth-child(3) {
          &::after {
            position: absolute;
            right: -90px;
            top: 60px;
            background-image: url('../../../../public/assets/svg/arrow-work.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 80px;
            height: 12px;
            content: '';
          }
          &::before {
            position: absolute;
            left: -65px;
            transform: translate(-100%, 0);
            top: 60px;
            background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 130px;
            height: 12px;
            content: '';
          }
        }
        &:nth-child(4) {
          &::after {
            position: absolute;
            left: 20%;
            transform: translate(100%, 0);
            top: 60px;
            border: 1px solid $white-color;
            width: 100%;
            content: '';
          }
        }
        &:nth-child(5) {
          margin-bottom: 0;
          &::after {
            position: absolute;
            right: -90px;
            top: 60px;
            background-image: url('../../../../public/assets/svg/arrow-work.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 80px;
            height: 12px;
            content: '';
          }
  
          &::before {
            position: absolute;
            left: -65px;
            transform: translate(-100%, 0);
            top: 60px;
            background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 130px;
            height: 12px;
            content: '';
          }
        }
        &--num {
          font-size: 21px;
          line-height: 21px;
        }
        &--title {
          font-size: 21px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }  
}

@media screen and (max-width: 767px) {
  .workProcess {
    position: relative;
    padding-top: 40px;
    padding-bottom: 0;

    &::before {
      position: absolute;
      background-image: url('../../../../public/assets/svg/overlap-black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }
    &::after { 
      display: none;
    }

    &__title {
      margin-bottom: 20px;
    }
    &__cards {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      padding: 30px 10px 77px;
      background-color: $orange-color;
      right: auto;
      min-width: auto;
      &__item {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 60px;
        }
        
        &:nth-child(1) {
          padding-left: 0;
          &::after {
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
        }
        &:nth-child(2) {
          padding-left: 0;
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
          
        }
        &:nth-child(3) {
          padding-left: 0;
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
          &::before {
            display: none;
          }
        }
        &:nth-child(4) {
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
          padding-left: 0;
        }
        &:nth-child(5) {
          padding-left: 0;
          margin-bottom: 60px;
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
  
          &::before {
            display: none;
          }
        }
        &:nth-child(6) {
          padding-left: 0;
         
        }
        width: 100%;
        &--num {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 5px;
        }
        &--title {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
        &--text {
          position: relative;
        }
    
        
      }
    }
    &__image {
      display: none;
    }
  }
}