.workProcess {
  position: relative;
  padding-top: 60px;
  padding-bottom: 70px;

 

  &__title {
    color: $black-color;
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    position: relative;
    transform: translate(0, 0%);
    background-color: $dark-grey-color;
    min-width: 590px;
    height: 918px;
    // right: 200px;
  }
  &__cards {
    position: relative;
    // right: 200px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 1330px;
    padding: 71px 0;
    background-color: $orange-color;
    &__item {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 115px;
      }
      &:nth-child(1) {
        padding-left: 199px;
        &::after {
          position: absolute;
          right: -90px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(2) {
        padding-left: 132px;
        &::after {
          position: absolute;
          right: -30%;
          top: 60px;
          border: 1px solid $white-color;
          width: 99px;
          content: '';
        }
        
      }
      &:nth-child(3) {
        padding-left: 199px;
        &::after {
          position: absolute;
          right: -90px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }
        &::before {
          position: absolute;
          left: 0;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 130px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(4) {
        &::after {
          position: absolute;
          right: -30%;
          top: 60px;
          border: 1px solid $white-color;
          width: 284px;
          content: '';
        }
        padding-left: 132px;
      }
      &:nth-child(5) {
        padding-left: 199px;
        margin-bottom: 0;
        &::after {
          position: absolute;
          right: -90px;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 80px;
          height: 12px;
          content: '';
        }

        &::before {
          position: absolute;
          left: 0;
          top: 60px;
          background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 130px;
          height: 12px;
          content: '';
        }
      }
      &:nth-child(6) {
        padding-left: 132px;
       
      }
      width: 580px;
      &--num {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &--title {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      &--text {
        position: relative;
      }
    }
  }
}



@media screen and (max-width: 1520px) {
  .workProcess {
    padding-bottom: 74px;

    &__title {
      margin-bottom: 60px;
    }
    &__image {
      min-width: 370px;
      height: 808px;
    }
    &__cards {
      min-width: 1070px;
      padding: 60px 0;
      &__item {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 90px;
        }
        &:nth-child(1) {
          &::after {
            width: 55px;
            height: 8px;
            content: '';
          }
        }
        &:nth-child(3) {
          &::after {
            
            width: 55px;
            height: 8px;
            content: '';
          }
        }
        &:nth-child(4) {
          &::after {
            position: absolute;
            right: -30%;
            top: 60px;
            width: 99px;
            content: '';
          }
        }
        &:nth-child(5) {
          margin-bottom: 0;
          &::after {
            width: 55px;
            height: 8px;
            content: '';
          }
  
          &::before {
            position: absolute;
            left: 0;
            top: 60px;
            background-image: url('../../../../public/assets/svg/arrow-work-l.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 130px;
            height: 12px;
            content: '';
          }
        }
        &:nth-child(6) {
          padding-left: 132px;
         
        }
        width: 475px;
        &--title {
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 20px;
        }
      }
    }
  }  
}



@media screen and (max-width: 767px) {
  .workProcess {
    position: relative;
    padding-top: 40px;
    padding-bottom: 0;

    &::before {
      position: absolute;
      background-image: url('../../../../public/assets/svg/overlap-black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }

    &__title {
      margin-bottom: 20px;
    }
    &__cards {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      padding: 30px 10px 77px;
      background-color: $orange-color;
      right: auto;
      min-width: auto;
      &__item {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 60px;
        }
        
        &:nth-child(1) {
          padding-left: 0;
          &::after {
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
        }
        &:nth-child(2) {
          padding-left: 0;
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
          
        }
        &:nth-child(3) {
          padding-left: 0;
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
          &::before {
            display: none;
          }
        }
        &:nth-child(4) {
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
          padding-left: 0;
        }
        &:nth-child(5) {
          padding-left: 0;
          margin-bottom: 60px;
          &::after {
            border: 0;
            right: auto;
            top: auto;
            bottom: -50px;
            width: 5px;
            height: 39px;
            background-image: url('../../../../public/assets/svg/arrow-down.svg');
            content: '';
          }
  
          &::before {
            display: none;
          }
        }
        &:nth-child(6) {
          padding-left: 0;
         
        }
        width: 100%;
        &--num {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 5px;
        }
        &--title {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
        &--text {
          position: relative;
        }
    
        
      }
    }
    &__image {
      display: none;
    }
  }
}