.promo {
  position: relative;
  padding-top: 275px;
  padding-bottom: 305px;
  background-image: url('../../../../public/assets/images/main-bg.png');
  background-color: $black-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  &::before {
    position: absolute;
    background-image: url('../../../../public/assets/svg/overlap.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15%;
    bottom: 0;
    content: '';
  }
  &__container--mob {
    display: none;
  }
  &__container--desc {
    position: relative;
    
    &::before {
      position: absolute;
      top: 22%;
      width: 4px;
      height: 87px;
      background-color: $orange-color;
      content: '';
    }

    &::after {
      position: absolute;
      bottom: -47%;
      width: 4px;
      height: 115px;
      right: 0;
      background-color: $orange-color;
      content: '';
    }
  }

  &__title {
    font-family: 'RoadRadio';
    font-size: 95.625px;
    line-height: 96px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 86px;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    &__item {
      position: relative;
      padding: 15px 32px;
      width: 476px;
      height: 99px;
      background: linear-gradient(270deg, #584026 0%, rgba(42, 34, 27, 0) 100%);
      backdrop-filter: blur(30px);

      &--left {
          position: absolute;
          top: 0;
          right: -5%;
      }
      &--right {
          position: absolute;
          top: 0;
          left: -5%;
    }
    }
  }

  &__buttons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__item {
        &--left {
          z-index: 1;
          padding: 23px;
          width: 322px;
          text-transform: uppercase;
          color: $white-color;
          background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
          box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
          cursor: pointer;
          &:hover {
            border: 2px solid $orange-color;
          background: $transparent;
          box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
          filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
          }
        }
        &--right {
          z-index: 1;
          padding: 23px 21px;
          width: 475px;
          text-transform: uppercase;
          background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
          box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
          cursor: pointer;
          &:hover {
            border: 2px solid $orange-color;
            background: $transparent;
            box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
          }
        }
      }

      
  }
  &__bg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0);
    width: 1185px;
    height: 802px;
    background: rgba(255, 169, 81, 0.3);
    filter: blur(275px);
    &--image {
      position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
      width: 967px;
      height: 438px;
      margin: 0 auto;
      bottom: 235px;
    }
  }
}



@media screen and (max-width: 1600px) {
  .promo {
    padding-top: 226px;
    padding-bottom: 305px;
    
    &::before {
      position: absolute;
      background-image: url('../../../../public/assets/svg/overlap.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }
    &__container--desc {
      &::before {
        top: 22%;
        content: '';
      }
  
      &::after {
        bottom: -51%;
        height: 87px;
        content: '';
      }
    }
  
    &__title {
      font-size: 85px;
      line-height: 86px;
      margin-bottom: 60px;
    }
  
    &__description {
      margin-bottom: 40px;
  
      &__item {
        width: 432px;
      }
    }
  
    &__buttons {
        &__item {
          &--left {
            width: 275px;
          }
          &--right {
            width: 432px;
          }
        }
    }
    &__bg {
      height: 100%;
      top: 100%;
      
      &--image {
      top: 62%;
      left: 50%;
      width: 941px;
      height: 427px;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .promo {
    position: relative;
    padding-top: 275px;
    padding-bottom: 305px;
    background-image: url('../../../../public/assets/images/main-bg.png');
    background-color: $black-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &::before {
      position: absolute;
      background-image: url('../../../../public/assets/svg/overlap.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }
    &__container--mob {
      display: none;
    }
    &__container--desc {
      position: relative;
      
      &::before {
        position: absolute;
        top: 22%;
        width: 4px;
        height: 87px;
        background-color: $orange-color;
        content: '';
      }
  
      &::after {
        position: absolute;
        bottom: -47%;
        width: 4px;
        height: 115px;
        right: 0;
        background-color: $orange-color;
        content: '';
      }
    }
  
    &__title {
      font-size: 95.625px;
      line-height: 96px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 86px;
    }
  
    &__description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
  
      &__item {
        position: relative;
        padding: 15px 32px;
        width: 476px;
        height: 99px;
        background: linear-gradient(270deg, #584026 0%, rgba(42, 34, 27, 0) 100%);
        backdrop-filter: blur(30px);
  
        &--left {
            position: absolute;
            top: 0;
            right: -5%;
        }
        &--right {
            position: absolute;
            top: 0;
            left: -5%;
      }
      }
    }
  
    &__buttons {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        &__item {
          &--left {
            z-index: 1;
            padding: 23px;
            width: 322px;
            text-transform: uppercase;
            color: $white-color;
            background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
            box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            &:hover {
              border: 2px solid $orange-color;
            background: $transparent;
            box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
            }
          }
          &--right {
            z-index: 1;
            padding: 23px 21px;
            width: 475px;
            text-transform: uppercase;
            background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
            box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            &:hover {
              border: 2px solid $orange-color;
              background: $transparent;
              box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
              filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
            }
          }
        }
  
        
    }
    &__bg {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -0);
      width: 100%;
      height: 802px;
      background: rgba(255, 169, 81, 0.3);
      filter: blur(275px);
      &--image {
        position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, 0);
        width: 967px;
        height: 438px;
        margin: 0 auto;
        bottom: 235px;
      }
    }
  }
  
  
  
  @media screen and (max-width: 1600px) {
    .promo {
      padding-top: 138px;
      padding-bottom: 20px;
      &__container--desc {
        &::before {
          display: none;
        }
    
        &::after {
          display: none;
        }
      }
    
      &__title {
        font-weight: 400;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 90px;
      }
    
      &__description {
        display: none;
      }
    
      &__buttons {
        display: none;
      }
      &__bg {
        height: 80%;
        top: 0;
        &--image {
          position: relative;
          transform: translate(0, 0);
          top: auto;
          left: auto;
          bottom: auto;
          right: auto;
          width: 586px;
          height: 266px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .promo {
    padding-top: 90px;
    padding-bottom: 115px;
    &__bg {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(-0, -0);
      width: 100%;
      height: 80%;
      background: rgba(255, 169, 81, 0.3);
      filter: blur(275px);
    }
    &::before {
      background-image: url('../../../../public/assets/svg/overlap.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 15%;
      bottom: 0;
      content: '';
    }
    &__container--desc {
      display: none;
    }
    &__container--mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding: 0 10px;
      &::before {
        position: absolute;
        top: 50%;
        width: 2px;
        height: 45px;
        background-color: $orange-color;
        content: '';
      }

      &::after {
        position: absolute;
        bottom: -13%;
        width: 2px;
        height: 45px;
        right: 10px;
        background-color: $orange-color;
        content: '';
      }
    }

    &__title {
      font-weight: 400;
      font-size: 37.377px;
      line-height: 38px;
      margin-bottom: 30px;
    }

    &__top-text {
        position: relative;
        padding: 7px 14px;
        margin: 0 auto;
        width: 232px;
        height: 100%;
        background: linear-gradient(270deg, #584026 0%, rgba(42, 34, 27, 0) 100%);
        backdrop-filter: blur(30px);
        margin-bottom: 30px;
        &--right {
            position: absolute;
            top: 0;
            left: 0;
      }
    }
    &__bottom-text {
      position: relative;
      padding: 7px 14px;
      margin: 0 auto;
      width: 262px;
      height: 100%;
      background: linear-gradient(270deg, #584026 0%, rgba(42, 34, 27, 0) 100%);
      backdrop-filter: blur(30px);
      margin-bottom: 30px;
  }
    &__top-line {
      position: absolute;
      left: 0;
      bottom: -25%;
      }
    &__bot-line {
      position: absolute;
      left: 0;
      top: -25%;
      }  
    &__buttons {
        &__item {
          &--left {
            margin: 0 auto 40px;
            z-index: 1;
            padding: 12px;
            width: 150px;
            text-transform: uppercase;
            color: $white-color;
            background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
            box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            &:hover {
              border: 2px solid $orange-color;
              background: $transparent;
              box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
              filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
            }
          }
          &--right {
            z-index: 1;
            padding: 13px;
            width: 276px;
            margin: 0 auto 34px;
            text-transform: uppercase;
            background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
            box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            &:hover {
              border: 2px solid $orange-color;
              background: $transparent;
              box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
              filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
            }
          }
        }
    }
   
      &__image {
        position: relative;
        width: 100%;
        height: 167px;
        margin: 0 auto 5px;
      }
    }
}
