.reviews {
  position: relative;
  padding-top: 60px;
  padding-bottom: 230px;
  overflow: hidden;
  &__title {
    color: $black-color;
    margin-bottom: 50px;
  }
  &__card {
    width: 588px !important;
    background-color: $dark-grey-color;
    margin-right: 50px;

      &-image {
        position: relative;
        width: 100%;
        height: 441px;
        // margin-bottom: 65px;
      }
      &-wrapper {
        padding: 65px 40px;
        height: 440px;
      }
      &-name {
        font-family: 'RoadRadio';
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      &-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
      }
    }
  
}

.slick-list {
  width: 1900px !important;
  // left: 0 !important;
}
.slick-dots {
  bottom: -15% !important;
}

.slick-dots li {
    width: 25px !important;
    height: 25px !important;
    margin: 0 50px 0 0!important;
}

.slick-prev {
  position: absolute;
  z-index: 1 !important;

}

.slick-next {
  position: absolute;
  z-index: 1 !important;
  // top: 50% !important;
}
.slick-prev:before {
  position: absolute;
  fill: white;
  width: 46px;
  height: 20px;
  transform: rotate(135deg);
  bottom: 35%;
  left: 25%;
  content: url('../../../../public/assets/svg/arrow-review.svg') !important;
}
.slick-next:before {
  position: absolute;
  fill: white;
  width: 46px;
  height: 20px;
  transform: rotate(-45deg);
  top: 37%;
  left: 20%;
  content: url('../../../../public/assets/svg/arrow-review.svg') !important;
}

.ft-slick__dots--custom {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  background: rgba(32, 32, 32, 0.3);
}

.slick-dots .slick-active .ft-slick__dots--custom {
  background: $orange-color;
}


@media screen and(max-width: 1600px) {
  .reviews {
    padding-bottom: 200px;
    &__title {
      margin-bottom: 60px;
    }
    &__card {
      width: 466px !important;
      margin-right: 40px;
  
        &-image {
          position: relative;
          width: 100%;
          height: 301px;
          // margin-bottom: 65px;
        }
        &-wrapper {
          padding: 40px;
          height: 382px;
        }
        &-name {
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
        }
        &-text {
          font-size: 16px;
          line-height: 28px;
        }
      }
  }
  .slick-list {
    width: 1500px !important;
    // left: 0 !important;
  }
  .slick-dots {
    bottom: -15% !important;
  }
  
  .slick-dots li {
      width: 23px !important;
      height: 23px !important;
      margin: 0 40px 0 0!important;
  }
  
  
  .slick-prev:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(135deg);
    bottom: 35%;
    left: 25%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  .slick-next:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(-45deg);
    top: 37%;
    left: 20%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  
  .ft-slick__dots--custom {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background: rgba(32, 32, 32, 0.3);
  }
}


@media screen and(max-width: 1270px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 200px;
    overflow: hidden;
    &__title {
      margin-bottom: 40px;
    }
    &__card {
      width: 448px !important;
      background-color: $dark-grey-color;
      margin-right: 30px;
  
        &-image {
          position: relative;
          width: 100%;
          height: 290px;
          // margin-bottom: 65px;
        }
        &-wrapper {
          padding: 30px;
          height: 343px;
        }
        &-name {
          font-size: 21px;
          line-height: 40px;
          margin-bottom: 30px;
        }
        &-text {
          font-size: 16px;
          line-height: 28px;
        }
      }
    
  }
  
  .slick-list {
    width: 950px !important;
    // left: 0 !important;
  }
  .slick-dots {
    bottom: -15% !important;
  }
  
  .slick-dots li {
      width: 20px !important;
      height: 20px !important;
      margin: 0 30px 0 0!important;
  }
  
  .slick-prev {
    position: absolute;
    z-index: 1 !important;
    left: 10% !important;
  }
  
  .slick-next {
    position: absolute;
    z-index: 1 !important;
    right: 13% !important;
  }
  .slick-prev:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(135deg);
    bottom: 35%;
    left: 25%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  .slick-next:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(-45deg);
    top: 37%;
    left: 20%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  
  .ft-slick__dots--custom {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background: rgba(32, 32, 32, 0.3);
  }
  
}

@media screen and(max-width: 800px) {
  .reviews {
    padding: 40px 60px 100px;
    overflow: hidden;
    &__title {
      color: $black-color;
      margin-bottom: 40px;
    }
    &__card {
      width: 100% !important;
      background-color: $dark-grey-color;
      margin-right: 0;
  
        &-image {
          position: relative;
          width: 100%;
          height: 300px;
          // margin-bottom: 65px;
        }
        &-wrapper {
          padding: 22px 10px 19px 14px;
          height: 150px;
        }
        &-name {
          font-weight: 700;
          font-size: 17px;
          line-height: 14px;
          text-transform: uppercase;
          margin-bottom: 10px;

          & svg {
            width: 24px;
            height: 22px;
          }
        }
        &-text {
          font-weight: 400;
          font-size: 7px;
          line-height: 10px;
        }
      }
    
  }
  
  .slick-list {
    width: 100% !important;
    // left: 0 !important;
  }
  .slick-dots {
    bottom: -15% !important;
    left: 5% !important;
  }
  
  .slick-dots li {
      width: 8px !important;
      height: 8px !important;
      margin: 0 15px 0 0!important;
  }
  .slick-prev {
    position: absolute;
    top: 45% !important;
    left: -42px !important;
    width: 24px !important;
    height: 24px !important;

  }
  
  
  .slick-next {
    position: absolute;
    top: 45% !important;
    width: 24px !important;
    height: 24px !important;
    right: -40px !important;
    
  }
  .slick-prev:before {
    line-height: 0;
    position: absolute;
    fill: white;
    width: 14px;
    height: 20px;
    transform: rotate(135deg);
    bottom: 0;
    left: auto;
    right: 0;
    content: url('../../../../public/assets/svg/arrow-review-mob.svg') !important;
  }
  .slick-next:before {
    position: absolute;
    line-height: 0;

    fill: white;
    width: 14px;
    height: 20px;
    transform: rotate(-45deg);
    top: 0;
    left: 0;
    content: url('../../../../public/assets/svg/arrow-review-mob.svg') !important;
  }
  
  .ft-slick__dots--custom {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    background: rgba(32, 32, 32, 0.3);
  }
  
  .slick-dots .slick-active .ft-slick__dots--custom {
    background: $orange-color;
  }
  
}