.reviews {
  position: relative;
  padding-top: 60px;
  padding-bottom: 130px;
  // overflow-x: hidden;

  &__title {
    color: $black-color;
    margin-bottom: 30px;
  }
  &__card {
    width: 588px !important;
    background-color: $dark-grey-color;
    margin-right: 50px;
    position: relative;
    padding-bottom: 20px;
      &-image {
        position: relative;
        width: 100%;
        height: 325px;
        visibility: visible;
        opacity: 1;
        // margin-bottom: 65px;
        transition: all 0.5s ease-out;
      }
      &-image.active {
        // z-index: -5;
        visibility: hidden;
        opacity: 0;
        // transition: all 0.5s ease-out;
        display: none;
      }
      &-wrapper {
        
        position: relative;
        top: 0%;
        padding: 65px 40px;
        height: 440px;
        transition: all 0.5s ease-out;
      }
      &-wrapper.active {
        padding: 65px 40px;
        height: 440px;
        top: 0;
        // padding-top: 0 !important;
        // padding-bottom: 0 !important;
        position: relative;
        // transition: all 0.5s ease-out;
      }
      &-name {
        font-family: 'RoadRadio';
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 15px;
        & svg {
          width: 35px;
          height: 30px;
        }
      }
      &-text {
        position: relative;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        height: 80px;
        overflow: hidden;
        // transition: all 0.5s ease-out;
        
        &-btn {
          position: absolute;
          bottom: 0;
          left: 0;
          margin-top: 15px;
          font-weight: 700;
          font-size: 18px;
          line-height: 1.1;
          width: 100%;
          text-transform: uppercase;
          color: $white-color;
          background: linear-gradient(94.92deg, #EC9236 -7.37%, #FFA447 108.18%);
          box-shadow: 0px 0px 30px rgba(239, 151, 60, 0.5), inset 0px 0px 15px rgba(255, 255, 255, 0.2);
          border: 2px solid transparent;
          cursor: pointer;
          &:hover {
            border: 2px solid $orange-color;
            background: $transparent;
            box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
            filter: drop-shadow(0px 0px 30px rgba(239, 151, 60, 0.5));
          }
        }
      }
      &-text.active {
        position: relative;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;
        height: 80px;
        overflow: visible;
        height: 100%;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  
}

.slick-list {
  width: 1550px !important;
  // left: 0 !important;
}
.slick-dots {
  bottom: -15% !important;
}

.slick-dots li {
    width: 25px !important;
    height: 25px !important;
    margin: 0 50px 0 0!important;
}

.slick-prev {
  position: absolute;
  z-index: 1 !important;
  
}

.slick-next {
  position: absolute;
  z-index: 1 !important;
  // top: 50% !important;
}
.slick-prev:before {
  position: absolute;
  fill: white;
  width: 46px;
  height: 20px;
  transform: rotate(135deg);
  bottom: 33%;
  left: 25%;
  content: url('../../../../public/assets/svg/arrow-review.svg') !important;
}
.slick-next:before {
  position: absolute;
  fill: white;
  width: 46px;
  height: 20px;
  transform: rotate(-45deg);
  top: 35%;
  left: 20%;
  content: url('../../../../public/assets/svg/arrow-review.svg') !important;
}

.ft-slick__dots--custom {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  background: rgba(32, 32, 32, 0.3);
}

.slick-dots .slick-active .ft-slick__dots--custom {
  background: $orange-color;
}


@media screen and(max-width: 1600px) {
  .reviews {
    padding-bottom: 130px;
    &__title {
      margin-bottom: 60px;
    }
    &__card {
      width: 466px !important;
      margin-right: 40px;
  
        &-image {
          position: relative;
          width: 100%;
          height: 281px;
          // margin-bottom: 65px;
        }
        &-wrapper {
          padding: 40px;
          height: 382px;
        }
        // &-wrapper.active {
        //   top: -40%;
        // }
        &-name {
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          
        }
        &-text {
          font-size: 16px;
          line-height: 1.3;
        }
      }
  }
  .slick-list {
    width: 1250px !important;
    // left: 0 !important;
  }
  .slick-dots {
    bottom: -15% !important;
  }
  
  .slick-dots li {
      width: 23px !important;
      height: 23px !important;
      margin: 0 40px 0 0!important;
  }
  
  
  .slick-prev:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(135deg);
    bottom: 33%;
    left: 25%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  .slick-next:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(-45deg);
    top: 35%;
    left: 20%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  
  .ft-slick__dots--custom {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background: rgba(32, 32, 32, 0.3);
  }
}


@media screen and(max-width: 1270px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 200px;
    // overflow: hidden;
    &__title {
      margin-bottom: 40px;
    }
    &__card {
      width: 448px !important;
      background-color: $dark-grey-color;
      margin-right: 30px;
  
        &-image {
          position: relative;
          width: 100%;
          height: 290px;
          // margin-bottom: 65px;
        }
        &-wrapper {
          padding: 30px;
          height: 343px;
        }
        &-name {
          font-size: 21px;
          line-height: 40px;
          margin-bottom: 10px;
        }
        &-text {
          font-size: 16px;
          // line-height: 28px;
          line-height: 1.3;
        }
      }
    
  }
  
  .slick-list {
    width: 850px !important;
    // left: 0 !important;
  }
  .slick-dots {
    bottom: -15% !important;
  }
  
  .slick-dots li {
      width: 20px !important;
      height: 20px !important;
      margin: 0 30px 0 0!important;
  }
  
  .slick-prev {
    position: absolute;
    z-index: 1 !important;
    left: 10% !important;
  }
  
  .slick-next {
    position: absolute;
    z-index: 1 !important;
    right: 13% !important;
  }
  .slick-prev:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(135deg);
    bottom: 33%;
    left: 25%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  .slick-next:before {
    position: absolute;
    fill: white;
    width: 46px;
    height: 20px;
    transform: rotate(-45deg);
    top: 35%;
    left: 20%;
    content: url('../../../../public/assets/svg/arrow-review.svg') !important;
  }
  
  .ft-slick__dots--custom {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background: rgba(32, 32, 32, 0.3);
  }
  
}

@media screen and(max-width: 800px) {
  .reviews {
    padding: 40px 60px 100px;
    // overflow: hidden;
    &__title {
      color: $black-color;
      margin-bottom: 40px;
    }
    &__card {
      width: 100% !important;
      background-color: $dark-grey-color;
      margin-right: 0;
  
        &-image {
          position: relative;
          width: 100%;
          height: 300px;
          // margin-bottom: 65px;
        }
        &-wrapper {
          padding: 22px 10px 19px 14px;
          height: 150px;
        }
        &-name {
          font-weight: 700;
          font-size: 17px;
          line-height: 14px;
          text-transform: uppercase;
          margin-bottom: 10px;

          & svg {
            width: 24px;
            height: 22px;
          }
        }
        &-text {
          font-weight: 400;
          font-size: 7px;
          line-height: 10px;
          height: 100%;
        }
      }
    
  }
  
  .slick-list {
    width: 100% !important;
    // left: 0 !important;
  }
  .slick-dots {
    bottom: -15% !important;
    left: 5% !important;
  }
  
  .slick-dots li {
      width: 8px !important;
      height: 8px !important;
      margin: 0 15px 0 0!important;
  }
  .slick-prev {
    position: absolute;
    top: 45% !important;
    left: -42px !important;
    width: 24px !important;
    height: 24px !important;

  }
  
  
  .slick-next {
    position: absolute;
    top: 45% !important;
    width: 24px !important;
    height: 24px !important;
    right: -40px !important;
    
  }
  .slick-prev:before {
    line-height: 0;
    position: absolute;
    fill: white;
    width: 14px;
    height: 20px;
    transform: rotate(135deg);
    bottom: -2px;
    left: auto;
    right: 0;
    content: url('../../../../public/assets/svg/arrow-review-mob.svg') !important;
  }
  .slick-next:before {
    position: absolute;
    line-height: 0;

    fill: white;
    width: 14px;
    height: 20px;
    transform: rotate(-45deg);
    top: -2px;
    left: 1px;
    content: url('../../../../public/assets/svg/arrow-review-mob.svg') !important;
  }
  
  .ft-slick__dots--custom {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    background: rgba(32, 32, 32, 0.3);
  }
  
  .slick-dots .slick-active .ft-slick__dots--custom {
    background: $orange-color;
  }
  
}


.slick-track {
  display: flex !important;

  .slick-slide {
    height: auto;

    & > div {
      height: 100%;

      .reviews__card {
        height: 100%;
        width: auto !important;

        .reviews__card-wrapper {
          height: auto !important;
          padding: 15px;
        }
      }
    }
  }
}