.danger {
  background-color: $dark-grey-color;
  padding-top: 60px;
  padding-bottom: 50px;

  &__title {
    width: 1144px;
    text-align: center;
    margin: 0 auto 58px;
  }
  &__cards {
    display: flex;
    &__item {
      width: 490px;
      padding: 40px 30px 30px;
      background-color: $white-color;
      &:not(:last-child) {
        margin-right: 25px;
      }
      &-text {
        margin-top: 20px;
        color: $black-color;
      }
    }
  }
}

@media screen and (max-width: 1520px) {
  .danger {
    padding-bottom: 60px;
    &__title {
      width: 840px;
      margin: 0 auto 40px;
    }
    &__cards {
      &__item {
        width: 387px;
        padding: 30px;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &-text {
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .danger {
    padding-top: 30px;
    padding-bottom: 20px;

    &__container {
      padding: 0 10px;
    }

    &__title {
      width: 100%;
      margin: 0 auto 30px;
    }
    &__cards {
      display: block;
      &__item {
        width: 100%;
        padding: 20px 10px 5px;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
        &-text {
          margin-top: 10px;
          color: $black-color;
        }
        &-svg {
          & svg {
            width: 38px;
            height: 29px;
          }
        }
      }
    }
  }
}